head
  title Contact Page
  link(rel='stylesheet', type='text/css', href='/style.css')
body
  nav
    a(href='/') Home
    a(href='/services') Services
    a(href='/contact') Contact
  h1 Contact Page