
html
  head
    title Home Page
    link(rel='stylesheet', type='text/css', href='/style.css')
  body
    nav
      a(href='/') Home
      a(href='/services') Our Services
      a(href='/contact') Contact Us
    h1 Home Page
